<li class="nav-item">
    <button class="nav-link"
       [class.active]="active"
       data-toggle="tab"
       role="tab"
       aria-controls="home"
       aria-selected="true"
       (click)="click.emit()"
    >{{moment.name}}</button>
</li>
