    <h2 class="form-signin-heading">Välkommen</h2>
    <div class="my-2">
        <label for="username">Användarnamn</label>
        <input type="text" [(ngModel)]="username" id="username" name="username" class="form-control rounded mb-2" placeholder="Användarnamn" required autofocus>
        <div class="invalid-feedback">
        </div>
    </div>
    <div class="my-2">
        <label for="email">Email</label>
        <input type="email" [(ngModel)]="email" id="email" name="email" class="form-control rounded mb-2" placeholder="Email" required autofocus>
        <div class="invalid-feedback">
        </div>
    </div>
    <div class="my-2">
        <label for="password1">Lösenord</label>
        <input [(ngModel)]="password" type="password" id="password1" name="password1" class="form-control rounded mb-2" placeholder="Lösenord" required>
        <div class="invalid-feedback">
        </div>
    </div>
    <div class="my-2">
        <label for="password2">Bekräfta lösenord</label>
        <input [(ngModel)]="confirmPassword" type="password" id="password2" name="password2" class="form-control rounded" placeholder="Bekräfta lösenord" required>
        <div class="invalid-feedback">
        </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block my-1" type="submit" (click)="registerUser()">Registrera</button>
