
<button class="btn btn-primary my-2" type="button" (click)="this.collapsed = !this.collapsed">Avancerad sökning</button>
<div class="mb-3" [class.collapse]="collapsed">
    <div class="card card-body">
        <form>
            <div class="form-row">
                <div class="col">
                    <label for="name">Namn:</label>
                    <input type="text" name="name" class="form-control" id="name" required="" [(ngModel)]="name"/>
                </div>
                <div class="col">
                    <label for="categoryPicker">Kategori:</label>
                    <select id="categoryPicker" class="form-control" [(ngModel)]="category">
                        <option value="">------</option>
                    </select>
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="col">
                    <label for="includeIngredients">Inkluderar:</label>
                    <select id="includeIngredients" class="form-control" multiple [(ngModel)]="includingIngredients">
                        <option [value]="ingredient.id" *ngFor="let ingredient of ingredients">{{ingredient.translated_name}}</option>
                    </select>
                </div>
                <div class="col">
                    <label for="excludeIngredients">Exkluderar:</label>
                    <select id="excludeIngredients" class="form-control" multiple [(ngModel)]="excludingIngredients">
                        <option [value]="ingredient.id" *ngFor="let ingredient of ingredients">{{ingredient.translated_name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-row mt-2">
                <div class="col">
                    <label for="creator">Skapare:</label>
                    <select id="creator" class="form-control"
                            [(ngModel)]="creator">
                        <option value="">------</option>
                        <option [value]="user.id" *ngFor="let user of users">{{user.username}}</option>
                    </select>
                </div>
            </div>
            <div class="form-row mt-2">
                <button type="button" class="btn btn-primary" id="search" (click)="search()">Sök</button>
            </div>
        </form>
    </div>
</div>
