<fieldset class="px-3 py-2 addRecipeSet">
    <legend>Moment</legend>
    <div class="form-row">
        <div class="col">
            <input type="text" maxLength="30" class="form-control" placeholder="Namn" name="moment-name" [(ngModel)]="moment.name" />
        </div>
        <div class="col">
            <select [(ngModel)]="moment.extra_ingredients" class="selectpicker form-control" data-live-search="true" multiple="multiple" name="extra-ingredients">
                <option *ngFor="let ingredient of ingredients" [ngValue]="ingredient">{{ingredient.translated_name}}</option>
            </select>
        </div>
        <div class="col">
            <textarea [(ngModel)]="moment.instructions" cols="40" rows="3" class="form-control" placeholder="Instruktioner" name="instructions"></textarea>
        </div>
    </div>
    <div class="ingredients">
        <app-add-ingredient *ngFor="let ingredient of moment.ingredients" [selectedIngredient]="ingredient"></app-add-ingredient>
    </div>
    <img (click)="addIngredient()" class="clickable addImage mt-2" title="Lägg till ny ingrediens"
         src="/static/assets/images/minus-clipart-green-plus-md.png" />
</fieldset>
