{% extends 'recipes_site/template.html' %}
{% load static %}
{% load i18n %}

{% block extra_head %}
    <link href="{% static 'recipes_site/css/component.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

    <div id="import"></div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'recipes_site/js/bundle.js' %}"></script>
    <script src="{% static 'recipes_site/js/custom-file-input.js' %}"></script>
    <script src="{% static 'recipes_site/js/addRecipe.js' %}"></script>
    <script>
        $(document).ready(function () {
            renderImportRecipe(document.getElementById('import'));
        });


    </script>
{% endblock %}
