{% extends 'recipes_site/template.html' %}

{% load i18n %}
{% load static %}

{% block extra_scripts %}
    <script src="{% static 'recipes_site/js/bundle.js' %}"></script>
    <script>
        const SEARCH_DATA = {};
        SEARCH_DATA.category = "{{ category }}";
        SEARCH_DATA.favoured_by = "{{ user.id }}";
        $(document).ready(function () {
            renderSearchPage(document.getElementById("container"))
        });
    </script>
{% endblock %}