{% extends 'recipes_site/template.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div id="planning"></div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'recipes_site/js/bundle.js' %}"></script>
    <script>
        $(document).ready(function () {
            renderPlanningForm(document.getElementById('planning'));
        });
    </script>
{% endblock %}