{% extends 'recipes_site/template.html' %}
{% load static %}
{% load i18n %}

{% block content %}

    <div id="modal"></div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'recipes_site/js/bundle.js' %}"></script>
    <script>
        $(document).ready(function () {
            renderFoodPlanTable(document.getElementById("modal"));
        });
    </script>
{% endblock %}
