{% extends 'recipes_site/template.html' %}
{% load i18n %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'recipes_site/css/register.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <form class="needs-validation" class="form-signin" method="post" novalidate>
        {% csrf_token %}
        <h2 class="form-signin-heading">{% trans 'Edit user' %}</h2>
        <div class="my-2">
            <label for="email">{% trans 'Email' %}</label>
            <input type="email" value="{% if form.data.email %}{{ form.data.email }}{% else %}{{ user.email }}{% endif %}" id="email" name="email"
                   class="form-control rounded mb-2{% if form.email.errors %} is-invalid{% endif %}"
                   placeholder="{% trans 'Email' %}" required autofocus>
            <div class="invalid-feedback">
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="my-2">
            <label for="oldPassword">{% trans 'Old Password' %}</label>
            <input type="password" id="oldPassword" name="oldPassword" class="form-control rounded mb-2{% if form.password1.errors %} is-invalid{% endif %}" placeholder="{% trans 'Password' %}" required>
            <div class="invalid-feedback">
                {% if form.password1.errors %}
                    {% for error in form.password1.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="my-2">
            <label for="newPassword">{% trans 'New Password' %}</label>
            <input type="password" id="newPassword" name="newPassword" class="form-control rounded mb-2{% if form.password1.errors %} is-invalid{% endif %}" placeholder="{% trans 'Password' %}" required>
            <div class="invalid-feedback">
                {% if form.password1.errors %}
                    {% for error in form.password1.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="my-2">
            <label for="confirmPassword">{% trans 'Confirm password' %}</label>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control rounded{% if form.password2.errors %} is-invalid{% endif %}" placeholder="{% trans 'Password' %}" required>
            <div class="invalid-feedback">
                {% if form.password2.errors %}
                    {% for error in form.password2.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block my-1" type="submit">{% trans 'Save' %}</button>
    </form>
{% endblock %}

{% block scripts %}
    <script src="{% static 'recipes_site/js/formValidation.js' %}"></script>
{% endblock %}
