{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Magnus receptsite">
    <meta name="author" content="">
    <link rel="manifest" href="{% url 'recipes_site:manifest' %}">
    <link rel="icon" href="{% static 'recipes_site/images/../../recipes/src/assets/images/logo.png' %}">
    <meta name="theme-color" content="darkblue">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'recipes_site/images/../../recipes/src/assets/images/iphone-logo.png' %}">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">

    <title>Recipes</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'recipes_site/css/default.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <style>
        .navbar {
            background-color: darkblue;
        }
    </style>
    {% block extra_head %}{% endblock %}

</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand" href="{% url 'recipes_site:index' %}"><img style="height: 30px" src="{% static 'recipes_site/images/../../recipes/src/assets/images/logo.png' %}" alt="home"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" />
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <div class="dropdown">
            <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% trans "Recipes" %}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for category in categories %}
                    {% trans category.name as name %}
                    <a class="dropdown-item" href="{% url 'recipes_site:category' category=category.id %}">{% blocktrans %}Your {{ name }}{% endblocktrans %}</a>
                {% endfor %}
            </div>
        </div>
        <form class="form-inline my-2 my-lg-0 ml-auto" action="{% url 'recipes_site:search' %}">
            <input name="q" class="form-control mr-sm-2" type="text" placeholder="{% trans "Search" %}" aria-label="Search">
            <button class="btn btn-light my-2 my-sm-0" type="submit">{% trans "Search" %}</button>
        </form>
        {% if user.is_authenticated  %}
            <a href="{% url 'recipes_site:edit-user' %}" class="btn btn-outline-light ml-1" role="button">{% trans 'Profile' %}</a>
            <a href="{% url 'recipes_site:create-food-planning' %}" class="btn btn-outline-light ml-1" role="button">{% trans 'Create planning' %}</a>
            <a href="{% url 'recipes_site:add-recipe' %}" class="btn btn-outline-light ml-1" role="button">{% trans 'Create recipe' %}</a>
            <a href="{% url 'recipes_site:logout' %}" class="btn btn-outline-light ml-1" role="button">{% trans 'Logout' %}</a>
        {% else %}
            <a href="{% url 'recipes_site:login' %}" class="btn btn-outline-light ml-1" role="button">{% trans 'Login' %}</a>
            <a href="{% url 'recipes_site:register' %}" class="btn btn-outline-light ml-1" role="button">{% trans 'Register' %}</a>
        {% endif %}
    </div>
</nav>
<div id="banner" class="mb-3" style="visibility: hidden">{% block banner_text %}{% endblock %}</div>
<main role="main" class="container" id="container">
    {% block content %}
    {% endblock %}
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="{% static 'recipes_site/js/script.js' %}"></script>
<script>

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            }
        }
    });

    $(document).ajaxError(function(event, jqXHR) {
        if(jqXHR.status === 403) {
            window.location = "{% url 'recipes_site:login' %}?next=" + window.location.pathname;
        }
    });
    {% if recipe %}
        const ACTIVE_RECIPE = '{{ recipe }}';
    {% else %}
        const ACTIVE_RECIPE = null;
    {% endif %}

</script>
{% block scripts %}{% endblock %}
{% block extra_scripts %}{% endblock %}
<script src="{% static 'recipes_site/js/bundle.js' %}"></script>
</body>
</html>
