<fieldset class="addRecipeSet">
    <legend>Kvantitet</legend>
    <div class="form-row mx-3 my-2">
        <div class="col input-group">
            <input type="number" name="amount" step="0.01" class="form-control col-3" placeholder="Mängd" [(ngModel)]="selectedIngredient.amount" />
            <input type="text" name="unit" maxLength="10" class="form-control rounded-0" placeholder="Enhet" [(ngModel)]="selectedIngredient.unit" />
            <select name="ingredient" class="selectpicker form-control" data-live-search="true" [(ngModel)]="selectedIngredient.ingredient">
                <option *ngFor="let ingredient of ingredients" [ngValue]="ingredient">{{ingredient.translated_name}}</option>
            </select>
        </div>
        <div class="col-1 plus-container">
            <svg width="13" height="13" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" class="click" (click)="createIngredient()">
                <path fill="#70bf2b" d="M1600 796v192q0 40-28 68t-68 28h-416v416q0 40-28 68t-68 28h-192q-40 0-68-28t-28-68v-416h-416q-40 0-68-28t-28-68v-192q0-40 28-68t68-28h416v-416q0-40 28-68t68-28h192q40 0 68 28t28 68v416h416q40 0 68 28t28 68z"/>
            </svg>
        </div>
        <div class="col">
            <input type="text" name="comment" maxLength="200" class="form-control" placeholder="Kommentar" [(ngModel)]="selectedIngredient.comment" />
        </div>
    </div>
</fieldset>
<app-dialog *ngIf="showCreateIngredient">
    <app-create-ingredient (close)="showCreateIngredient = false"></app-create-ingredient>
</app-dialog>
