<div *ngIf="recipe.file" class="d-none d-md-block">
    <img class="img-fluid" style="max-height: 15em" src="{{recipe.file.url}}">
</div>
<div class="border border-muted border-right-0 border-left-0 row my-2 mx-1 py-2 ">
    <div class="col">Tid: {{recipe.time}} {{recipe.time_unit.translated_name}}</div>
    <div class="icons">
        <svg (click)="copyRecipeUrl()" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-share" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z"/>
        </svg>
        <div *ngIf="profile">
            <img class="favoriteLogo clickable" (click)="flipHeart()" src="/static/assets/images/heart.png" *ngIf="favorite" />
            <img class="favoriteLogo clickable" (click)="flipHeart()" src="/static/assets/images/heart_bw.png" *ngIf="!favorite"/>
        </div>
    </div>
</div>
<ul class="nav nav-tabs" id="momentTabs" role="tablist">
    <app-moment-tab *ngFor="let moment of recipe.moments" [moment]="moment" (click)="selectMoment(moment)" [active]="moment === selectedMoment"></app-moment-tab>
</ul>
<div class="row" *ngIf="selectedMoment">
    <div class="tab-content m-3" id="myTabContent">
        <app-moment [recipe]="recipe" [moment]="selectedMoment"></app-moment>
    </div>
</div>
