

.favoriteLogo {
    height: 2em;
    cursor: pointer;
}

.icons {
    display: flex;
    align-items: center;
    width: 60px;
    justify-content: space-between;

    svg {
        cursor: pointer;
    }
}
