<form class="needs-validation form-signin" novalidate>
    <h2 class="form-signin-heading">Logga in</h2>
    <div>
        <label for="username" class="sr-only">Användarnamn</label>
        <input [(ngModel)]="username" type="text" id="username" name="username" class="form-control rounded" placeholder="Användarnamn" required autofocus>
    </div>
    <div>
        <label for="inputPassword" class="sr-only">Lösenord</label>
        <input [(ngModel)]="password" type="password" id="inputPassword" name="password" class="form-control rounded mt-2" placeholder="Lösenord" required (keydown.enter)="login()">
    </div>
    <span class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Kom ihåg mig
            </label>
        </span>
    <span class="float-right">
        <a [routerLink]="'/register'">Registrera</a>
    </span>
    <div class="invalid-feedback d-block" *ngIf="errorMessage">
        {{errorMessage}}
    </div>
    <button class="btn btn-lg btn-primary btn-block" type=button (click)="login()">Logga in</button>
</form>
