<div class="tab-pane" id="{{moment.name.replace(' ', '-')}}">
<table class="table">
    <thead>
    <tr>
        <th scope="col">Mängd</th>
        <th scope="col">Ingrediens</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ingredient of moment.ingredients">
            <td>{{ingredient.amount}} {{ingredient.unit}}</td>
            <td>{{ingredient.ingredient.translated_name}} {{ingredient.comment ? '(' + ingredient.comment + ')' : ""}}</td>
        </tr>
        <tr *ngIf="extraIngredients">
            <td></td>
            <td>
                {{extraIngredients}}
            </td>
        </tr>
    </tbody>
</table>
<p class="instructions">{{moment.instructions || recipe.description}}</p>
</div>
