<form>
    <div class="form-group">
        <label for="ingredient-name" class="col-form-label">Namn:</label>
        <input type="text" class="form-control" name="ingredient-name" id="ingredient-name" [(ngModel)]="recipeName" />
    </div>
</form>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Stäng</button>
    <button type="button" class="btn btn-primary" (click)="saveIngredients()">Spara</button>
</div>
