<form>
    <fieldset>
        <div class="form-row">
            <div class="col col-8">
                <div class="form-row mb-2">
                    <div class="col">
                        <input [(ngModel)]="recipe.name" type="text" name="name" maxLength="100" class="form-control" placeholder="Namn" required="" />

                    </div>
                    <div class="col">
                        <input [(ngModel)]="recipe.source" type="text" name="source" class="form-control" placeholder="Källa" required="" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="input-group">
                            <input [(ngModel)]="recipe.time" type="number" name="time" class="form-control" placeholder="Tid" required="" />
                            <div class="input-group-append">
                                <select [(ngModel)]="recipe.time_unit" name="time_unit" class="form-control selectpicker" required="">
                                    <option *ngFor="let timeUnit of timeUnits" [ngValue]="timeUnit">{{ timeUnit.translated_name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <select [(ngModel)]="recipe.category" name="category" class="form-control selectpicker" required="" multiple="multiple">
                            <option *ngFor="let category of categories" [ngValue]="category">{{ category.translated_name }}</option>
                        </select>
                    </div>
                    <div class="col">
                        <input [(ngModel)]="recipe.portions" type="number" name="portions" class="form-control" placeholder="Portioner" />
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="col">
                    <textarea [(ngModel)]="recipe.description" name="description" cols="40" rows="3" class="form-control" placeholder="Beskrivning"></textarea>
                </div>
            </div>
        </div>
        <div id="moment">
            <app-create-moment *ngFor="let moment of recipe.moments" [moment]="moment"></app-create-moment>
        </div>
        <div>
            <img (click)="addMoment()" class="clickable addImage mt-2" title="Add new moment"
                 src="/static/assets/images/minus-clipart-green-plus-md.png" />
        </div>
        <form id="fileForm">
            <div class="box">
                <input type="file" name="url" id="url" class="inputfile"/>
                <label for="url" class="text-muted">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                        <path
                            d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/>
                    </svg>
                    <span>Ladda upp en bild</span>
                </label>
            </div>
        </form>
        <button type="button" class="btn btn-success" (click)="createRecipe()">Skapa</button>
    </fieldset>
</form>
