.dialog-background {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2000;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dialog {
    background-color: white;
    max-height: 100%;
    overflow: scroll;
    margin: 20px;

    display: block;
    max-width: 100%;
    width: 350px;
    padding: 18px 24px;
    border-radius: 12px;
    outline: none;
    pointer-events: auto;
}

.overlay {
    background-color: black;
    opacity: 0.5;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1999;
}
