<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand" [routerLink]="'/'"><img style="height: 30px" src="/static/assets/images/logo.png" alt="home"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"
            (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" id="navbarsExampleDefault" [class.collapse]="collapsed">
        <div class="dropdown">
            <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Recept
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" [routerLink]="'/'">Dina recept</a>
            </div>
        </div>
        <a *ngIf="loggedIn" [routerLink]="'createRecipe'" class="btn btn-outline-light ml-1" role="button" (click)="toggleCollapsed()">Skapa recept</a>
        <form class="form-inline my-2 my-lg-0 ml-auto">
            <input type="text"
                   placeholder="Receptnamn"
                   class="form-control mr-sm-2"
                   [formControl]="myControl"
                   [matAutocomplete]="auto"
                   (keydown.enter)="search()"
            >
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let recipe of filteredOptions | async" [value]="recipe.name" (click)="selectRecipe(recipe)" (keydown.enter)="selectRecipe(recipe)">
                    {{recipe.name}}
                </mat-option>
            </mat-autocomplete>
            <button class="btn btn-light my-2 my-sm-0" type="button" (click)="search()">Sök</button>
        </form>
        <a *ngIf="!loggedIn" [routerLink]="'login'" class="btn btn-outline-light ml-1" role="button" (click)="toggleCollapsed()">Logga in</a>
    </div>
</nav>
