<div class="row">
    <div id="recipeList" class="col-12 col-md-3">
        <div class="list-group mt-2">
            <app-recipe-list-item (click)="recipeSelected.emit(recipe)" *ngFor="let recipe of recipes" [recipe]="recipe" [active]="!!selectedRecipe && selectedRecipe.id === recipe.id"></app-recipe-list-item>
        </div>
    </div>
    <div id="recipe" class="col-md-9" *ngIf="!isMobile">
        <app-recipe *ngIf="selectedRecipe" [recipe]="selectedRecipe"></app-recipe>
    </div>
    <mobile-recipe *ngIf="isMobile" [selectedRecipe]="selectedRecipe"></mobile-recipe>
</div>
